<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ponto Digital</title>
    <link rel="stylesheet" href="/css/style.css"  type="text/css">
</head>
<body class="flex-container">
    @RenderBody()
    <footer>
            <div class="section-container">
                <div>
               <a href="https://twitter.com/login?lang=pt"><img src="/img/f1.png" alt="twitter" class="ImgFooter"></a> 
                <a href="https://www.facebook.com/"><img src="/img/footer2.png" alt="facebook" class="ImgFooter"></a>
                <a href="https://www.youtube.com/"><img src="/img/footer3.png" alt="youtube" class="ImgFooter"></a>
                <a href="https://www.instagram.com/?hl=pt-br"><img src="/img/footer4.png" alt="instagram" class="ImgFooter"></a>
                
                </div>
                <div>
                    Avenida de Limeira, 539 - Campos Elíseos - SP
                    <br />
                    PontoDigital@email.com
                    <br />
                    11 1234 6789
                    <br/>
                    Todos os Direitos reservados ao SENAI
            </div>
        
    </footer>
</body>

</html>