<header>

@{
        Html.RenderPartial("_HeaderNavBar");
}
</header>

<div class="quemsomos">
    <h2>Quem somos</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat illum odio sit assumenda aspernatur aut
            <br>
            exercitationem iure autem at? Distinctio ut tempore deserunt vero aperiam quasi obcaecati reprehenderit
            <br>
            commodi voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate
            <br>
            excepturi provident itaque sequi, amet ea laboriosam natus nobis debitis. Iure iusto quos ipsum sunt
            <br>
            nesciunt tempore minus quaerat neque!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non saepe
            <br>
            animi maiores iste debitis error aperiam veritatis earum, fugiat repudiandae iure modi hic ex in fugit fuga
            <br>
            porro facere beatae!
        </p>
        <br>
    </section>
    <section class="">
        <article class="desenvolvedores">
            
            <div>
                <h3>carlos tsukamoto</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nesciunt molestias voluptatum voluptatem nulla molestiae
                    <br>
                    vel omnis quisquam a, neque ducimus expedita cumque, debitis saepe! Exercitationem vel consequatur cumque. Dolorum!</p>
                </div>
                <br>
            </article>
            <article class="desenvolvedores">

                <div>
                    <h3>Cesar Sportore</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nesciunt molestias voluptatum voluptatem nulla molestiae
                        <br>
                        vel omnis quisquam a, neque ducimus expedita cumque, debitis saepe! Exercitationem vel consequatur cumque. Dolorum!</p>
                    </div>
                    <br>
                </article>
                
            </div>
            </main>