<header>

@{
    Html.RenderPartial("_HeaderNavBar");
}
</header>
<section class="Como_funciona_texto">

    <h2>Como Funciona</h2>
    <p>
        Esse software tem como principal objetivo administrar, monitorar e facilitar
        <br>
        o processo de Home Office de uma empresa , deixando-o mais Objetivo e funcional 
        <br>
        criando diversas classes e sistemas de praso, para que o funcionario não se 
        <br>
        atrapalhe com seu conograma afetando o seu rendimento e o processo da empresa. 
    </p>
</section>
    
    <article class="video">
        <section class="como_video">

            <div>
                <h5>tutorial de como abrir o software</h5>
                <iframe width="autoplay" height="autoplay" src="https://www.youtube.com/embed/jzTBq-NGUqM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </section>
        <section class="como_video">
            <div>
                <h5>tutorial de como abrir o software</h5>
                <iframe width="autoplay" height="autoplay" src="https://www.youtube.com/embed/iZ1ucWosOww" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </section>
    </article>







    <article class="video">
        <section class="como_video">

            <div>
                <h5>tutorial de como abrir o software</h5>
                <iframe width="autoplay" height="autoplay" src="https://www.youtube.com/embed/jzTBq-NGUqM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </section>
        <section class="como_video">
            <div>
                <h5>tutorial de como abrir o software</h5>
                <iframe width="autoplay" height="autoplay" src="https://www.youtube.com/embed/OilQvKjpNh0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

    </article>