<nav>
        <div class="menu1">
            <ul>
                    <li><a asp-controller="Administrador" asp-action="Index" class="active" href='@Url.Action("Index","Administrador")'>Administrador</a></li>
                </ul>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index" class="active"  href='@Url.Action("Index","Home")'>Sair</a></li>
                </ul>

        </div >
                
            </nav>

        
        <div class="Caixa_Comum">
        <h2>Bem Vindo Administrador</h2>
        <h3>Funções do Administrador</h3>
        <p>
            - Visualizar Contas
            <br>
            - Aceitar ou Recusar Comentario
            <br>
            - Adicionar Administrador
            <br>
        </p>
        
        </div>